

<ion-content padding>

  <app-encabezado-principal></app-encabezado-principal>



  <!-- <app-noticia-preview   ></app-noticia-preview> -->

  <ion-list>

    <ion-label style="background:rgb(3, 69, 122) ;font-size: 20px;color:rgb(245, 245, 245)"> &nbsp; &nbsp;Hoy 24 de
      enero 2019</ion-label>

    <ion-item style="background-color: red">

      <ion-slides [options]="slideOpts" pager="true">
        <ion-slide >
          <app-noticia-preview ></app-noticia-preview>
        </ion-slide>
        <ion-slide>
          <app-noticia-preview></app-noticia-preview>
        </ion-slide>
        <ion-slide>
            <app-noticia-preview></app-noticia-preview>
          </ion-slide>
          <ion-slide>
              <app-noticia-preview></app-noticia-preview>
            </ion-slide>
            <ion-slide>
                <app-noticia-preview></app-noticia-preview>
              </ion-slide>
              <ion-slide>
                  <app-noticia-preview></app-noticia-preview>
                </ion-slide>

      </ion-slides>
    </ion-item>
    <ion-label style="background:rgb(3, 69, 122) ;font-size: 20px;color:rgb(245, 245, 245)"> &nbsp; &nbsp;Sociales</ion-label>

    <ion-item style="background-color: red">

      <ion-slides [options]="slideOpts" pager="true">
        <ion-slide>
          <app-noticia-preview></app-noticia-preview>
        </ion-slide>
        <ion-slide>
          <app-noticia-preview></app-noticia-preview>
        </ion-slide>
        <ion-slide>
          <app-noticia-preview></app-noticia-preview>
        </ion-slide>
        <ion-slide>
          <app-noticia-preview></app-noticia-preview>
        </ion-slide>
        <ion-slide>
          <app-noticia-preview></app-noticia-preview>
        </ion-slide>
        <ion-slide>
          <app-noticia-preview></app-noticia-preview>
        </ion-slide>
        <ion-slide>
          <app-noticia-preview></app-noticia-preview>
        </ion-slide>
        <ion-slide>
          <app-noticia-preview></app-noticia-preview>
        </ion-slide>

      </ion-slides>
    </ion-item>

  </ion-list>









</ion-content>