<ion-grid>

    <ion-row style="background:white">
   
             <h1>holadsklasdklaskdl</h1>
             
                 
              <p style="color:black;text-align: justify">
                  Agradecemos tu interés en nuestros contenidos, sin embargo; 
                  este material cuenta con derechos de propiedad intelectual, 
                  queda expresamente prohibido la publicación, retransmisión, 
                  distribución, venta, edición y cualquier otro uso de los 
                  contenidos (incluyendo, pero no limi- tado a, contenido, texto,
                   fotografías, audios, videos y logotipos) sin previa autorización por
                    escrito de EL UNIVERSAL, Compañía Periodística Nacional S. A. de C. 
                    V. Si deseas hacer uso de ellos te invitamos a visitar nuestra tienda en
                     línea: http://tienda.agenciaeluniversal.mx , o bien, puedes comunicarte 
                     con nosotros para cualquier duda, comentario o sugerencia al teléfono:
                      57091313 Ext. 2406 y 2425 de lunes a viernes en horarios de oficina. 
                      Si deseas suscribete en nuestra versión impresa o digital, puedes comunicarte al 
                      teléfono 5709 1313 Ext. 1564 de lunes a viernes en horarios de oficina.
              </p>
            
         
    </ion-row>

</ion-grid>
 

