<ion-card class="Card1 myCard" (click)="hola();" >
  <ion-card-header style="background:rgb(7, 52, 88);color: white">
    <ion-card-title style="font-size: 10px;color:white"> Desarrollan aplicación de acción ciudadana fortense
    </ion-card-title>
  </ion-card-header>
  <ion-img src="/assets/App.jpg"> </ion-img>
  <ion-card-content class="myOverlay" style="font-size: 9px;background:#f8f8f8;color: rgb(0, 0, 0); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
    El Fuerte, Sinaloa.- Un grupo de jóvenes
    ingenieros en software que integran la Organización
    Social en Apoyo a Pueblos Indígenas (OSAPI)...
    <ion-button  style="font-size: 9px" fill="clear">Ver Mas</ion-button>
 
  </ion-card-content>
 
</ion-card>